body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.cookies-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}
.cookies-popup p {
    margin: 0;
    margin-bottom: 10px;
}
.cookies-popup button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.cookies-popup button:hover {
    background-color: #45a049;
}
